P2-Integration/case-studies/xs-calculator/src/main/resources/ControllerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://provider.calculator.xs.integration.paradigms.sse.aui.ma/" name="ControllerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://provider.calculator.xs.integration.paradigms.sse.aui.ma/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://provider.calculator.xs.integration.paradigms.sse.aui.ma/" schemaLocation="ControllerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getOsInfo">
    <part name="parameters" element="tns:getOsInfo"/>
  </message>
  <message name="getOsInfoResponse">
    <part name="parameters" element="tns:getOsInfoResponse"/>
  </message>
  <message name="getScreenshot">
    <part name="parameters" element="tns:getScreenshot"/>
  </message>
  <message name="getScreenshotResponse">
    <part name="parameters" element="tns:getScreenshotResponse"/>
  </message>
  <message name="rebootSystem">
    <part name="parameters" element="tns:rebootSystem"/>
  </message>
  <message name="rebootSystemResponse">
    <part name="parameters" element="tns:rebootSystemResponse"/>
  </message>
  <portType name="Controller">
    <operation name="getOsInfo">
      <input wsam:Action="http://provider.calculator.xs.integration.paradigms.sse.aui.ma/Controller/getOsInfoRequest" message="tns:getOsInfo"/>
      <output wsam:Action="http://provider.calculator.xs.integration.paradigms.sse.aui.ma/Controller/getOsInfoResponse" message="tns:getOsInfoResponse"/>
    </operation>
    <operation name="getScreenshot">
      <input wsam:Action="http://provider.calculator.xs.integration.paradigms.sse.aui.ma/Controller/getScreenshotRequest" message="tns:getScreenshot"/>
      <output wsam:Action="http://provider.calculator.xs.integration.paradigms.sse.aui.ma/Controller/getScreenshotResponse" message="tns:getScreenshotResponse"/>
    </operation>
    <operation name="rebootSystem">
      <input wsam:Action="http://provider.calculator.xs.integration.paradigms.sse.aui.ma/Controller/rebootSystemRequest" message="tns:rebootSystem"/>
      <output wsam:Action="http://provider.calculator.xs.integration.paradigms.sse.aui.ma/Controller/rebootSystemResponse" message="tns:rebootSystemResponse"/>
    </operation>
  </portType>
  <binding name="ControllerPortBinding" type="tns:Controller">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getOsInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getScreenshot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="rebootSystem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ControllerService">
    <port name="ControllerPort" binding="tns:ControllerPortBinding">
      <soap:address location="http://localhost:9000/controller"/>
    </port>
  </service>
</definitions>

